.contentEmpty{
    min-height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}