.card {
  border: 2px solid #f3f3f3;
  padding: 20px;
  width: 220px;
  border-radius: 40px;
  transition: .3s;

  &:hover {
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }

  .cardPrice1{
    color: #BDBDBD;
    font-size: 14px;
  }

  .cardPrice2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .topInfo{
    display: flex;
    justify-content: space-between;
  }

  .plus {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  button {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 0;
  }
}
.sizesTitle{
  font-size: 11px;
  color: #BDBDBD;
}
select{
  border: none;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  option{
    border-radius: 10px;
  }
}
