.header {
  border-bottom: 1px solid #EAEAEA;
  border-radius: 15px 15px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: rgba(#fff,.5);
  

  .headerLeft {
    display: flex;
    align-items: center;
    gap: 15px;

    .title, .text {
      margin: 0;
    }
  }

  .headerRight {
    display: flex;
    align-items: center;
    gap: 30px;

    .headerCart, .headerAvatar, .headerLike {
      cursor: pointer;
    }
  }
}
@media (max-width:760px) {
  .header{
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }
}
li{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  p{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 100%;
    text-align: center;
    color: #ffffd8;
  }
}
.headerPrice{
  font-style: italic;
  font-weight: bold;
  color: #000;
}
.headerLike{
  p{
    background-color: red;
  }
}