body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d2f1ff;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  max-width: 1240px;
  background-color: rgba(#fff, .75);
  box-shadow: 0 0 60px 10px rgba(#000, .97);
  border-radius: 20px;
  margin: 50px auto;
}

.content {
  min-height: calc(100vh - 180px);

}

.cards {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.green_button {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 325px;
  min-height: 55px;
  background-color: #9DD458;
  border-radius: 18px;
  border: none;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: #80b440;
  }
}

.red_button {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 325px;
  min-height: 55px;
  background-color: #ff8585;
  border-radius: 18px;
  border: none;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: #f85b5b;
  }
}


.search-block {
  background-color: #fff;
  border: 1px solid #9e9999;
  padding: 15px;
  border-radius: 10px;
  gap: 14px;
  width: 250px;
  height: 45px;

  input {
    border: none;

    ::placeholder {
      color: #C4C4C4;
      font-size: 14px;
    }
  }
}

.cardsOrderWrapper {
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  margin-bottom: 20px;

  .cardOrder {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.orderInfo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.orderCost,
.orderDate {
  border: 1px solid grey;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  background-color: #ffffd8;
}

.search {
  display: flex;
  gap: 40px;
  padding: 40px;
}

@media(max-width: 760px) {
  .search {
    display: flex;
    flex-direction: column;
  }
}

@keyframes slide {
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(.4);
  }
  100%{
    transform: scale(.8);
  }
}
.swap {
  animation: slide 1s ease-in-out 0.5s 2 alternate;
  transition: .5s;
  -moz-animation: slide 1s ease-in-out 0.5s 2 alternate;
  -webkit-animation: slide 1s ease-in-out 0.5s 2 alternate;
}